body{
    background-color: lightyellow;
    font-family: Garamond, serif;
}

h1{
    color: green;
    font-family: 'Courier New', monospace;
}

th, td { 
    border: 1px solid blue;
    color: green;
}

#beaver-store{
    color: green;
}

#o{
    color: orange;
    font-size: 100px;
}
#s{
    font-size: 100px;
}
#u{
    color: grey;
    font-size: 100px;
}

button{
    font-family: 'Courier New', monospace;
    font-size:20px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    transition-duration: 0.4s;
    padding: 10px;
}
button:hover{
    background: lightcoral;
}
a {
    color: rgb(148, 119, 148);
}